body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #000;
  margin: 0;
  color: white;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
  padding: 0.5rem;
}

.sidebar {
  background-color: #000;
  width: 340px;
  border-radius: 1rem;
  margin-right: 0.75rem;
}
.main-content {
  background-color: #121212;
  flex: 1;
  border-radius: 1rem;
  padding: 0 1.5rem 0 1.5rem;
  overflow: auto;
}

.music-player {
  background-color: black;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 72px;
}

.nav {
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.75rem;
}

.nav-option a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  margin-left: 1rem;
}

.nav-option i {
  font-size: 1.25rem;
  padding: 0.5rem;
}

.nav-option {
  opacity: 0.7;
  line-height: 2.5rem;
}

.nav-option:hover {
  opacity: 1;
}

.library {
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.options img {
  height: 1.25rem;
  width: 1.25rem;
}

.lib-option a {
  text-decoration: none;
  color: white;
}

.icons {
  font-size: 1.25rem;
  display: flex;
}

.icons i {
  opacity: 0.7;
  margin-right: 1rem;
}

.icons i:hover {
  opacity: 1;
}

.box {
  background-color: #232323;
  height: 8rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.75rem 1rem;
}

.p-1 {
  font-size: 1rem;
  font-weight: 500;
}

.p-2 {
  font-size: 0.75rem;
  opacity: 0.8;
}

.badge {
  background-color: #fff;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  margin: 0.5rem;
  height: 2rem;
  width: fit-content;
}

.dark {
  background-color: #000;
  color: white;
}

.sticky-nav {
  position: sticky;
  top: 0px;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 2;
}

.sticky-nav-icons {
  margin-left: 0.75rem;
}

.sticky-nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-nav-options button {
  margin-right: 1rem;
}

@media (max-width: 1000px) {
  .sticky-nav-icons .right {
    display: none;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #232323;
  width: 150px;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
}

.card-image {
  width: 100%;
  border-radius: 0.5rem;
}

.card-title {
  font-weight: 600;
}

.card-info {
  font-size: 0.85rem;
  opacity: 7;
}

.footer {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  height: 50%;
  width: 90%;
  border-top: 1px solid white;
  opacity: 7;
}

.music-player {
  display: flex;
}

.album {
  width: 25%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.player {
  width: 50%;
}

.control {
  width: 25%;
}

.player-control-icon {
  height: 1rem;
  margin-right: 2rem;
  opacity: 0.7;
}

.player-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-control-icon:hover {
  opacity: 1;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  width: 70%;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track {
  background-color: #ddd;
  height: 0.2rem;
  border-radius: 100px;
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  background-color: #1bd760;
  border-radius: 50%;
  margin-top: -6px;
}

.album img {
  height: 72px;
  width: 72px;
}

.album .message {
  margin-left: 15px;
  margin-right: 55px;
  line-height: 0.75rem;
}

.album i {
  margin-right: 40px;
}

.control {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.bar {
  width: 50%;
}
